.App {
  text-align: center;
}

.InputField {
  text-align: center;
  max-width: 20rem;
  margin: auto;
}

.weather-api-img {
  max-width: 4rem;
  margin-top: 5rem !important;
  margin: 1rem;
}

.card-custom {
  max-width: 16rem;
}
